<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChCt9RlqsCibD6ziTQbzjs9dk1tIlIGTE</string>
	<key>GCM_SENDER_ID</key>
	<string>630392030201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgde.medilearnpro</string>
	<key>PROJECT_ID</key>
	<string>medilearning-4f539</string>
	<key>STORAGE_BUCKET</key>
	<string>medilearning-4f539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630392030201:ios:c28abf8791815af8a03328</string>
</dict>
</plist>